<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hack The Mountains Task</title>
</head>
<body>
    <div class="table-data">
        <h2>Course 1</h2>
        <table border="1">
            <tr>
                <th>S. No.</th>
                <th>User</th>
                <th>Progress %</th>
            </tr>
            
            <%
            if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
            %>
            <tr>
                <td><%=i; %></td>
                <td><%=data.user %></td>
                <td><%=data.progress %></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>